{{#each favoritesList.questions as |question|}}
   <h4>{{#link-to 'question' question.id}}{{question.content}} by {{question.author}}{{/link-to}}</h4>
   <button {{action "removeFromFavorites" question}}> Remove Favorites</button>
{{/each}}
