<h1>Quora</h1>

<h3>The best answer to any question</h3>

<p>
  Quora is an easy way to find the answers to your questions!Simply submit your question and wait for other users' answers!
</p>

{{#link-to 'contact'}}Contact Quora{{/link-to}}
