<div class="jumbotron">
</div>

<div class="container">
<h3>The best answer to any question</h3>
</div>
<!-- <p>The best answer to any question</p> -->

<h2>Questions</h2>

<div class="container">
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
  </ul>

</div>

{{new-question saveQuestion2="saveQuestion3"}}

<hr>
{{display-favorites}}

{{#link-to 'about'}}About Quora{{/link-to}}
<br>
{{#link-to 'contact'}}Contact Quora{{/link-to}}
