<h1>Welcome to Quora!</h1>

<p>The best answer to any question</p>

<h2>Questions</h2>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<hr>

{{#link-to 'about'}}About Quora{{/link-to}}
<br>
{{#link-to 'contact'}}Contact Quora{{/link-to}}
